#Board{
	background-color:black;
}
.horborder{
	height: 5%;
}
.defaultrow{
	height: 11.25%;
}
.horbordercell, .defaultcell, .verbordercell{
	float: right;
	height: 100%;
}
.horbordercell,.verbordercell{
	width: 5%;
}
.horbordercell{
		margin-Top: 0.5%;
}
.verbordertext{
	margin-Bottom: 75%;
	margin-Top: 75%;
}
.horbordercell,.verbordertext{
	color:white;
}
.imgdead,.imgonboard{
	z-Index: 3;
	height :inherit;
}
.imgonboard{
	cursor: pointer;
}
.pawnchanges{
	height: 25%;
}
.deads{
	height: 12.5%;
}
.deathrow{
	width:100%;
	height:50%;
}
.deathcell{
	width:12.5%;
	height:100%;
	float:right;
}
body{
	margin:0;
}
.othergui{
	height:inherit;
	background-color: purple;
	box-sizing: border-box;
	border-left-width: 5%;
	border-right-width: 5%;
	border-top-width: 0;
	border-bottom-width: 0;
	border-style: solid;
	border-color:black;
}
#movelist{
	overflow: auto; 
	height:40%;
	width:100%;
	background-color:black;
}
.Pairofmoves{
	width:100%;
	height:25%;
	background-color:black;
}
.onemoveb,.onemovew{
	display:table-cell;
	box-sizing: border-box;
	float:left;
	width:50%;
	height:100%;
	border-width: 5%;
	border-style: solid;
	font-size:125%;
	
}
.onemovew{
	background-color:white;
	border-color: gray;
}
.onemoveb{
	background-color:black;
	border-color: white;
	color:white;
}
#settings{
	margin-Top:0;
	height:60%;
}
#settings0{
	margin-Top:0;
	height:80%;
}
#figuresettings,#circlesettings,#darkcellsettings,#brightcellsettings{
	height:25%;
	
}
#figuresettings,#circlesettings{
	background-color:purple;
}
.nameofsettings{
	box-sizing: border-box;
	margin:0;
	height:30%;
	font-size:150%;
	color:white;
	background-color:black;
	border-width: 5%;
	border-style: solid;
	border-color: white;
}
.message{
	margin-Top:10%;
}
#message1{
	margin-Top:0;
}
#message2{
	margin-Top:0;
}
#message3{
	margin-Top:0;
}
#message4{
	margin-Top:0;
}
.choises{
	height:70%;
}
.choisescell{
	height:100%;
	border-width: 5%;
	box-sizing: border-box;
	border-style: solid;
	border-color: white;
	float: left;
	vertical-align:middle;
	cursor: pointer;
}
.imgsettings2{
	margin-Top:5%;
}
